.Chapters .Quest {
  background: radial-gradient(
    ellipse at center,
    rgba(25, 48, 128, 0) 50%,
    rgba(25, 48, 128, 0) 50%,
    rgba(25, 48, 128, 0.8) 80%,
    rgba(25, 48, 128, 0.8) 100%
  );
}

.Chapters .Quest a {
  color: var(--pale-yellow);
  text-decoration: underline;
}

.Chapters .Quest a::before {
  /* display right arrow */
  content: '\2192\00a0';
}
