.Book {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  background-color: var(--dark-blue);
  color: var(--pale-yellow);
}

.Book main {
  height: 100%;
  overflow-y: auto;
}
#Book_content {
  max-width: 724px;
  margin: 0px auto;
  justify-content: center;
  position: relative;
}

#Book_content button {
  margin-bottom: 5rem;
}

#Book_content .img-wrapper {
  text-align: center;
}

#Book_content .img-wrapper img {
  max-width: 260px;
}

.Book header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.Book span {
  padding: 0 1rem;
}

.Book footer {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
}

.Book footer #Book_footer_logos {
  display: flex;
}

.Book footer span {
  font-size: var(--font-size-1);
}

.Book .Fake_menu {
  display: none;
}

.Book nav {
  display: block;
}

@media only screen and (max-width: 767px) {
  .Book main {
    overflow: auto;
  }
  #Book_content .img-wrapper img {
    max-width: 200px;
  }
  .Book footer {
    padding: 1rem 0.5rem;
  }
  .Book footer span {
    text-align: center;
  }
  #Book_content button {
    margin-bottom: 0rem;
  }
  .Book_content_right {
    transform: translateY(-2.2rem);
  }
  .Book .Fake_menu {
    display: block;
  }
  .Book nav {
    display: none;
  }
  .Book header {
    padding: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  #Book_content .img-wrapper img {
    max-width: 160px;
  }
  #Book_content button {
    width: 100%;
  }
}
