#Book {
  position: absolute;

  background-color: var(--dark-blue);
  color: var(--pale-yellow);
}

#Book main {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
#Book__content {
  max-width: 724px;
  margin: 0px auto;
}

#Book header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
/* 
#Book main {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pale-yellow);
} */
/* 
#Book header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
} */
#Book span {
  padding: 0 1rem;
}

/* #Book footer {
  max-width: 724px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
} */

#Book footer #Book_footer_logos {
  display: flex;
}

#Book footer span {
  font-size: var(--font-size-1);
}
