.ChapterCard {
  position: relative;
  height: 400px;
}
.ChapterCard_back,
.ChapterCard_front {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  will-change: transform, opacity;
  background-size: cover;
}

.ChapterCard_back {
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
}

.ChapterCard_front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
}
