.ChapterCard {
  position: relative;
  height: 400px;
}
.ChapterCard_back,
.ChapterCard_front {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  will-change: transform, opacity;
  background-size: cover;
}

.ChapterCard_back {
  background-color: red;
}

.ChapterCard_front {
  background-color: orange;
}
