.GameControls {
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: var(--z-index-game-controls);
  background: var(--dark-blue-alpha);
  border-radius: var(--small-border-radius) 0 var(--small-border-radius) 0;

  width: 50%;
  top: 150px;
  left: 50%;
  margin-left: -25%;
  color: var(--pale-yellow);
}

.GameControls button {
  border: 0 none;
  color: var(--pale-yellow);
}

.GameControls h2 {
  color: var(--pale-orange);
}

@media (max-width: 767px) {
  .GameControls {
    width: 80%;
    top: 150px;
    left: 10%;
    margin-left: -10%;
  }
}
