.GameControls {
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: var(--z-index-game-controls);
  background: var(--dark-blue-alpha);
  border-radius: var(--small-border-radius) 0 var(--small-border-radius) 0;

  width: 500px;
  top: calc(50% - 180px);
  left: calc(50% - 250px);
  color: var(--pale-yellow);
}

.GameControls button {
  border: 0 none;
  color: var(--pale-yellow);
}

.GameControls h2 {
  color: var(--pale-orange);
}

@media (max-width: 400px) {
  .GameControls {
    width: 320px;
    top: 5%;
    left: calc(50% - 160px);
  }
}
