.Joystick {
  position: fixed;
  bottom: 80px;
  left: 1rem;
  top: 6rem;
  right: 1rem;
  z-index: var(--z-index-joystick);
}
.Joystick .ReactNipple {
  height: 100%;
}
.Joystick > div {
  /* height: 80px !important;
  width: 80px !important; */
  background: transparent !important;
  border: 1px dashed var(--pale-yellow);
}

.Joystick > div button {
  height: 60px !important;
  width: 60px !important;
  background: var(--pale-yellow) !important;
  opacity: 0.5;
}

@media (orientation: landscape) {
  .Joystick {
    bottom: calc(50% - 30px);
  }
}
