.Joystick {
  position: fixed;
  bottom: 60px;
  left: 1rem;
  top: 6rem;
  right: 1rem;
  z-index: var(--z-index-joystick);
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/p
   */
   -ms-user-select: none;
   user-select: none;
}
.Joystick .ReactNipple {
  height: 100%;
}
.Joystick .back {
  height: 80px !important;
  width: 80px !important;
  background: transparent !important;
  border: 1px dashed var(--pale-yellow);
}

.Joystick .front {
  height: 60px !important;
  width: 60px !important;
  background: var(--pale-yellow) !important;
  opacity: 0.5;
  margin-left: -40px !important;
  margin-top: -40px !important;
}
@media (orientation: landscape) {
  .Joystick {
   right: 100px;
  }
}
