.Joystick {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: var(--z-index-joystick);
}

.Joystick > div {
  background: var(--pale-yellow) !important;
}

.Joystick > div button {
  background: var(--dark-blue) !important;
}
