.JumpButton {
  position: fixed;
  height: 80px;
  width: 80px;
  background: transparent;
  border: 0px dashed var(--pale-yellow);
  bottom: 1rem;
  border-radius: 100%;
  right: 1rem;
  z-index: var(--z-index-joystick);
  color: var(--pale-yellow);
  font-size: 0.7rem;
}

.JumpButton:focus {
  outline: none;
}

.JumpButton::after{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 2px dashed var(--pale-yellow);
  border-radius: 100%;
  z-index: 1000;
}

.JumpButton__flash{
  position:absolute;
  height: 80px;
  width: 80px;
  top: 0;
  left: 0;
  transform-origin: center;
  background-color: var(--pale-yellow);
  border: 2px solid transparent;
  border-radius: 100%;
  scale: .5;
  opacity: .6;
}

.JumpButton span {
  display: block;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
  user-select: none;
  font-weight: 900;
  text-shadow: 1px 1px 2px var(--dark-blue);
}


@keyframes JumpButton_flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}


.JumpButton.clicked .JumpButton__flash, .JumpButton:hover .JumpButton__flash {

  animation: JumpButton_flash 0.5s ease-in-out;
}

@media (orientation: landscape) {
  .JumpButton {
    bottom: 50%;
    margin-bottom: -40px;
  }
}
