.JumpButton {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 80px !important;
  width: 80px !important;
  background: transparent !important;
  border: 1px dashed var(--pale-yellow);
  bottom: 10%;
  border-radius: 100%;
  right: 1rem;
  z-index: var(--z-index-joystick);
  color: var(--pale-yellow);
  font-size: 0.7rem;
}

.JumpButton::after {
  content: '';
  height: 110px !important;
  width: 110px !important;
  position: absolute;
  transform-origin: center;
  background-color: var(--pale-yellow);
  border-radius: 100%;
  scale: 0;
  opacity: 1;
}

@keyframes jump-button {
  from {
    scale: 0;
    opacity: 1;
  }
  to {
    scale: 1;
    opacity: 0.2;
  }
}

.JumpButton.clicked::after {
  scale: 1;
  opacity: 0;
  animation: jump-button 0.3s ease-in-out;
}

@media (orientation: landscape) {
  .JumpButton {
    bottom: calc(50% - 30px);
  }
}
