.RoundButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pale-yellow);
  padding: 0;
  border-radius: 20px 0 20px 0;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: inherit;
}

.RoundButton:hover {
  background-color: var(--rose) !important;
}

.RoundButton:hover path {
  stroke: var(--pale-yellow);
}

.fill .RoundButton:hover path {
  stroke: none;
}
