.RoundButton {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--pale-yellow);
  padding: 0;
  border-radius: 20px 0 20px 0;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: inherit;
}

.RoundButton:hover {
  background-color: var(--rose) !important;
}

.RoundButton:hover path {
  stroke: var(--pale-yellow);
}

.fill .RoundButton:hover path {
  stroke: none;
}

.RoundButton.active {
  background-color: var(--rose) !important;
}

.RoundButton.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
  background-color: var(--rose) !important;
  z-index: -1;
  transform: scale(1);
  border-radius: 20px 0 20px 0;
  animation: scaleAnimation 1s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1); /* Initial scale */
    opacity: 1;
  }
  95% {
    transform: scale(1.5); /* Scale to 1.5 at 50% of the animation */
    opacity: 0;
  }
  100% {
    transform: scale(1); /* Return to the original scale at the end */
    opacity: 0;
  }
}
