.SideMenu {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-side-menu);
  overflow: hidden;
  width: 320px;
  margin: 0.5rem;
  font-family: 'RocknRoll One', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.SideMenu_slide {
  pointer-events: all;
  position: absolute;
  padding: 2rem;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 5px;
  width: 320px;
  overflow: hidden;
  background-color: var(--dark-blue);
  border-radius: var(--big-border-radius) 0 var(--big-border-radius) 0;
  will-change: transform;
}

.SideMenu .btn.btn-link {
  color: var(--pale-yellow);
  font-size: var(--font-size-4);
  font-weight: 500;
  text-decoration: none;
  position: relative !important;
  padding: 0;
}
.SideMenu .btn.btn-link:focus {
  box-shadow: none;
}

.SideMenu .introduction::after {
  content: '';
  position: absolute;
  bottom: -1.6rem;
  left: 0;
  height: 1px;
  margin: 0 20%;
  width: 60%;
  background-color: var(--pale-yellow);
}

.menu-body .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-body .nav .nav-item {
  margin: 0.15rem 0;
}

.menu-body .nav a {
  position: relative;
  font-size: var(--font-size-4);
  color: var(--pale-yellow);
  margin: 0.5rem 0;
  transition: color 0.2s ease-in-out;
}

.menu-body .nav a::before,
.SideMenu .btn.btn-link::before {
  left: -40px;
  opacity: 0;
  content: '';
  position: absolute;
  left: -50px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--rose);
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}
.SideMenu .btn.btn-link:hover {
  border-color: transparent;
}
.menu-body .nav a:hover::before,
.SideMenu .btn.btn-link:hover::before {
  left: -18px;
  opacity: 1;
}

.menu-body .nav a:hover,
.SideMenu .btn.btn-link:hover {
  color: var(--rose);
  transition: all 0.2s ease-in-out;
}

.menu-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-logos {
  display: flex;
  align-items: center;
}

.menu-footer span {
  position: relative;
  font-size: var(--font-size-1);
  color: var(--pale-yellow);
}

.menu-footer svg {
  margin: 0rem 0.7rem;
}

@media only screen and (max-width: 767px) {
  .SideMenu,
  .SideMenu_slide {
    width: calc(100vw - 1rem);
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .SideMenu_slide {
    padding: 1rem;
  }
}
