.Sounds {
  position: fixed;
  bottom: 2rem;
  z-index: var(--z-index-toggle-sounds);
  right: 50%;
  margin-right: 0.5rem;
}

.MapButton {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  margin-left: 0.5rem;
  z-index: var(--z-index-toggle-sounds);
}

@media (min-width: 768px) {
  .Sounds {
    bottom: 2rem;
    right: auto;
    left: 2rem;
  }
  .MapButton {
    bottom: 2rem;
    right: 2rem;
    left: auto;
  }
}
