.Vignette {
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-vignette);
}

.Vignette .btn-group {
  position: absolute;
  bottom: 10px;
  right: 0;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

.Vignette::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.Vignette_subs {
  color: var(--vignette-text-color);
  margin: auto;
  position: absolute;
  bottom: 100px;
  width: 50%;
  left: 25%;
  text-align: center;
}

.Vignette_subs h3 {
  font-size: var(--vignette-font-size);
}
