.Vignette {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-vignette);
}

.Vignette .btn-group {
  pointer-events: auto;
}

.Vignette::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.Vignette_subs {
  color: var(--vignette-text-color);
  width: 50%;
  text-align: center;
  transform-origin: center;
  pointer-events: none;
}
.Vignette_subs::selection,
.Vignette_subs::-moz-selection {
  background: transparent;
}

.Vignette_subs h3 {
  font-size: var(--vignette-font-size);
}

@media screen and (max-width: 768px) {
  .Vignette_subs {
    width: 90%;
  }
}

@media (orientation: landscape) {
  .Vignette_subs {
    width: 90%;
  }
}
