.AppRoutes {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  z-index: var(--z-index-approutes);
}
.AppRoutes .page {
  pointer-events: all;
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--pale-yellow);
}

.AppRoutes.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.AppRoutes.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}
