:root {
  font-family: 'RocknRoll One', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --z-index-world: 1;
  --z-index-vignette: 2;
  --z-index-credits: 3;
  --z-index-collected-chapters: 4;
  --z-index-joystick: 5;
  --z-index-header: 6;
  --z-index-approutes: 7;
  --z-index-toggle-sounds: 8;
  --z-index-side-menu: 9;
  --z-index-skip-intro: 10;
  --z-index-game-controls: 11;
 

  --spacer: 1.5em;
  --spacer-half: 0.75em;
  --spacer-double: 3em;
  --spacer-triple: 4.5em;
  --spacer-quadruple: 6em;

  --vignette-text-color: rgba(255, 255, 255, 0.87);
  --vignette-font-size: 2em;

  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 1.75rem;
  --font-size-8: 2rem;

  --history: #306fc5;
  --dark-blue-rgb: 25, 48, 128;
  --dark-blue: rgb(var(--dark-blue-rgb));
  --dark-blue-alpha: #193080cc;
  --pale-yellow: #fef9cb;
  --pale-dark-blue: rgb(72, 68, 98);
  --light-rose: rgb(241, 103, 161);
  --rose: rgb(237, 64, 125);
  --pale-orange: rgb(255, 164, 0);
  --purple: rgb(158, 66, 199);
  --orange: rgb(250, 149, 59);
  --transparent: rgba(0, 0, 0, 0)

  --bs-font-sans-serif: 'RocknRoll One', sans-serif;
  --bs-font-hand-written: 'RocknRoll One', sans-serif;

  --big-border-radius: 60px;
  --small-border-radius: 30px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5em;
}

h1, h2, p, span, div {
  font-family: 'RocknRoll One', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.fade-out {
  opacity: 1; /* Initial opacity */
  animation: 3s fadeOutAnimation  ease 9s forwards;
  visibility: visible;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
